<!DOCTYPE html>
<html>
  <head>
    <title>Good Companies</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Manage your business's share register the right way. Developed by Catalex®"/>
    <link rel="stylesheet" href="/css/main<%- sails.config.ASSET_HASH ? '.'+sails.config.ASSET_HASH : ''%>.css" />

    <link rel="icon"
          type="image/png"
          href="/favicon.png">

      <script id="version" type="application/json">
       <%- JSON.stringify({ASSET_HASH: sails.config.ASSET_HASH || false }) %>
      </script>

  </head>

  <body>


    <%- body %>

      <script src="/js/main<%- sails.config.ASSET_HASH ? '.'+sails.config.ASSET_HASH : ''%>.js"></script>
  </body>
</html>
