<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="<%- assets %>/css/styles.css" />
    <style>
html {
zoom: 0.55;
}
    </style>
  </head>

  <body>
<div id="main"><%- reactOutput %></div>
  </body>
</html>
