<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="<%- assets %>/css/main<%- sails.config.ASSET_HASH ? '.'+sails.config.ASSET_HASH : ''%>.css" />
    <style>
html {
zoom: 0.55;
}
    </style>
  </head>

  <body>
<div id="main"><%- reactOutput %></div>

 <p class="static-footer">© Copyright <%= (new Date()).getFullYear() %> - CataLex®. All rights reserved.</p>
  </body>
</html>
