.annual-return{

    .row{
        .left{
            font-style: italic;
        }
        margin-bottom:16px;
    }
    .title-row .left{
        font-weight: bold;
        font-style:normal;
    }
    h3{
        margin-bottom: 24px;
    }
}

.annual-return-document{
        background-color:white;
        padding: 15px;
}