.widget .widget-body{
    .change-log{
        padding: 0 16px;
        ul.bulleted{
            li {
                white-space:normal;
                padding: 2px;
                &:hover{
                    color: $text-color;
                }
            }
        }
    }
}