.well.actionable,
.actionable .well{

    position: relative;

    .well-icon{
        font-size: 4em;
        position: absolute;
            top: 12px;
        right: 12px;
        @media (min-width:$screen-sm-min){
            left: 12px;
            right: auto;
        }
        transition: all ease-in-out 300ms;


    }

    transition: all ease-in-out 300ms;

    &:hover{
        background-color: $gray-lighter;
        .well-icon{
            color: $deep-red;
        }
    }
}

.suspended{
      filter: blur(2px);
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
      pointer-events: none;
      user-select: none;
}

.suspend-info{
    .vanity-link{
        color: $alert-danger-text;
        font-weight:bold;

    }
    margin:20px 0 0 0;
}