.file-tree{
    .file-sub-tree{
        .expand-control{
            width: 20px;
            display: inline-block;
            text-align: center;
            * {
                cursor: pointer;
            }
        }
        .file{
            border: 1px solid white;
            padding: 2px;
            cursor: pointer;
            display: inline-block;
            &.selected{
                background-color: lighten($brand-warning, 20%);
                border: 1px solid $brand-warning;
                opacity: .8;
            }
            .icon{
                margin:0 4px;
            }
            .view{
                font-style: italic;
                padding-left:12px;
                display:none;
            }
            &.selected .view{
                display: inline;
            }
        }
        .children{
            margin-left: 20px;
        }
    }
}