.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.tooltip{
    opacity: 1;
    .graph-tooltip{
        border-radius: 4px;
        background-color: $deep-red;
        color: white;
        padding: 4px;
        background-color: rbga(0,0,0,0.1);
    }
}

.pie-chart.responsive{
    width: 100%;
    height: auto;
    .arc{
        text{
            display:none;
        }
    }

    &.affixed{
        @media (max-width: $screen-sm-max){
            position: static !important;
        }
    }
}
