
nav.navbar{
    background-color: $deep-red;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    transition: height .2s ease-in-out;
    height: $navbar-height;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    border-radius:0;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);

    .logo{
        width: 220px;
        background-image: url("~catalex_shared/images/good-companies-inline-28x.png");
        height: $navbar-height;
        background-position: left center;
        background-repeat: no-repeat;
        display:inline-block;
    }

    .navbar-header{
        margin-right: 0;
        margin-left: 0;
        float:left;
        a, em{
            color:#ffffff;
             &:hover, &:focus{
                //color: $header-link-hover;
            }
        }
        .navbar-brand{
            padding-left:0;

            @media (min-width:$screen-sm-min){
                padding-left:15px;
            }

            padding-top:0;
            padding-bottom:0;
            color:$white;
            font-weight: bold;

            .logo{
                display: none;
                float:left;
                padding: 0;
                background-position: left center;
                background-repeat: no-repeat;
                margin-left:16px;
                @media (min-width:$screen-sm-min){
                    display:block;
                }
                @media (min-width:$screen-md-min){
                    margin-right: 200px;
                }
                 @media (min-width:$screen-lg-min){
                    margin-right: 400px;
                }
            }


            span.text-logo{
                display:none;
            }

            &.open.dropdown{
                & > a {
                    background-color: transparent;
                    color: white;
                }
            }

            & > a{

                display:inline-block;
                &:active, &:focus{
                    outline:none;
                    text-decoration: none;
                }
                .fa{
                     display: block;
                    float:left;
                    font-size:30px;
                    line-height: $navbar-height;
                    top: 0;
                }


            }

        }
    }
    .navbar-right .dropdown-menu {
            right: 0;
            left: auto;
        }


     .open.dropdown{
        & > a {
            background-color:white;
            color: $deep-red;
        }

         a, a:focus, a:hover{
            text-decoration:none;
        }
        .dropdown-menu{
            padding:0;
            border:none;
            background-color:$gray;
            position:absolute;
            @include border-top-radius(4px);
            a{
                color:#fff;
                font-size: 1em;
                font-weight:bold;
                padding-top:4px;
                padding-bottom:4px;
            }
            li:first-child a{
                border-top-right-radius:4px;
                border-top-left-radius:4px;
            }
            li:last-child a{
                border-bottom-right-radius:4px;
                border-bottom-left-radius:4px;
            }
            li.separator{
                border-bottom:1px solid $gray-light;
            }
            li.last-login{
                font-style:italic;
                padding: 0 20px;
                color:white;
                white-space: nowrap;
            }

            a:hover{
               background-color: #fff;
               color:$gray;
            }


            .dropdown-menu{
                position: static;
                float: none;
                li:first-child a{
                    padding-top:4px;
                    padding-bottom:4px;
                    border-top-right-radius:4px;
                    border-top-left-radius:4px;
                }
            }
        }
    }

    .control-icon{
        float:left;
        vertical-align: middle;
        & > a{
            font-size: 1.4em;
            padding:0 8px;
            line-height: $navbar-height;
            color:white;
        }
        padding:0;
        transition: all ease-in-out 300ms;
        &:hover{
            background-color:white;
            a{
                color: $deep-red;
            }
        }
        .alert-count{

        }
    }
    .control-icons{
        float:right;
        margin: 0;
    }

}



.nav-controls{

    .full-controls{
        @extend .hidden-xs;
        .nav.navbar-nav{
            margin:0;
            float: left;
            .nav-item{
                float:left;
            }
        }
    }

    .small-controls{
        @extend .visible-xs-block;
        .nav.navbar-nav{
            margin:0;
            float: left;
            .nav-item{
                float:left;
                & > .dropdown-menu{
                    position:absolute;
                    border-radius:0;
                    .dropdown-menu{
                        position:static;
                    }
                    .nav-item{
                        float:none;
                    }
                }
            }
        }
    }



    li a{
        padding: 4px 20px;
        font-size: 1em;
        font-weight:bold;
        color: $gray-text;
        text-decoration: none;
        top: 1px;
        border-top: 1px solid  white;
        border-bottom: 1px solid $border-light;
        &:hover, &:focus{
            background-color: $gray-text;
            color:white;
        }
        &.active{
            color: $text-color;
            background-color: $background-gray;
            border: 1px solid $border-light;
            border-bottom: 1px solid $background-gray;
        }
    }

    .open.dropdown{
         a, a:focus, a:hover{
             text-decoration:none;
             border-color: white;
             &.active{
                 border-color: $deep-red;
                border-bottom: 1px solid $background-gray;
            }
            color: white;
            background-color: $deep-red;
            border-color: $deep-red;
        }
        .dropdown-menu{
            padding: 0;
            border:none;
            border-top: 4px solid $deep-red;;
            a{
                border:none;
                padding: 12px;
                background-color: white;
                color:  $text-color;
                font-weight:bold;
                transition: all ease-in-out 300ms;
            }
            a:hover{
               background-color:$gray-lighter;

            }
            .fa{
                margin-right: 8px;
            }

            .dropdown-menu{
                position:static;
            }
        }

    }

    .favourite{
        text-decoration: none;
        color: $text-color;
        &:hover, &:active{
            text-decoration: none;
        }
         .fa {
            top: 3px;
            margin-left:4px;
            font-size:17px;
            &.fa-star{
                color: $deep-red;
            }
        }
    }

}



.footer, nav.navbar{
    background-image: $header-image;
}