.page-top {
    background-color: #fff;
    border-bottom: 1px solid $border-light;
    padding-top:1em;
    padding-bottom:1em;
    & > *{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .widget{
        margin-bottom: 0;
    }
}

.page-body{
    padding-top:20px

}