
// spin
.loading{
    font-size: 3em;
    text-align: center;
}
.spin {
  animation: spin 1000ms infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}



.image-loading{
    background-image: url(../images/loading-text.png);
    width:100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}