
// spin
.loading{
    font-size: 42px;
    text-align: center;
    span{

    }
}
.spin {
  animation: spin 1000ms infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}



.image-loading{
        background-color: white;
    background-image: url(../images/loading-text.png);
    width:100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.basic-modal {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0; left: 0; right: 0;
}

.loading-modal{
    position:absolute;
        width: 300px;
    background-color: white;
     background-image: $header-image;
      color:white;
    padding: 40px;
    border-radius: 32px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
        transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
     z-index: $zindex-modal;
    &:focus{
        outline:none;
    }
    .message{
        font-size: 2em;
        text-align:center;
    }
}

.modal-backdrop{
    opacity: 0.5;
}