

.dl-spacing{
    .dl-row{
        margin-bottom: 16px;
    }
}


.labelled-row{
    display:table;
    width:100%;
    & > * {
        width:50%;
        vertical-align:middle;
        display:table-cell;
        padding:2px 8px;
    }
    .col-label{
        font-weight:bold;
        text-align: right;
    }
    .col-value{
        font-size:2em;
    }
}