.resolve{
    .summary{
        margin-bottom:30px;
        .summary-label{
            font-weight:bold;
        }
    }
    .action-description{
        .shares,
        .name{
            font-weight:bold;
        }
    }
    .big-arrow{
        font-size: 2em;
    }

    .instructions{
        margin-bottom:20px;
        text-align: center;
    }
    .row-separated{
        margin-bottom:40px;
        .col-md-5:first-child{
            text-align: right;
        }
    }
}

.panel-external-controls{
    display:table;
    width: 100%;
    margin-bottom:20px;
    & > * {
        display:table-cell;
        .list-controls{
            width:100%;
        }
    }
    .input-group, .rw-datetimepicker {
        width:100%
    }

    .list-controls.btn-group-vertical{
        .btn{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
            padding: 17px 8px;
        }
    }
}