.resolve{
    .summary{
        margin-bottom:30px;
        .summary-label{
            font-weight:bold;
        }
    }
    .action-description{
        .shares,
        .name{
            font-weight:bold;
        }
    }
    .big-arrow{
        font-size: 3em;
    }

    .instructions{
        margin-bottom:20px;
        text-align: center;
    }
    .row-separated{
        margin-bottom:40px;
    }
}