



.shareholding-widget{
    .number{
        font-weight: bold;
        display:inline-block;
        text-align: right;
    }
    .hide-graph-labels{
        text-align: center;
    }

    .summary .number{
        width: 120px;
    }
    .indent{
        margin-left: 30px;
    }
    .class-summary{
        margin-top: 10px;
        &:first-of-type{
            margin-top: 0;
        }
    }
}

.outline.shareholding{
    position:relative;
    .info{
        margin-right: 100px;
    }
    .pie-chart{
        position:absolute;
        right: 16px;
        top: 16px;
        width:auto;
    }
}