



.shareholding-widget{
    .number{
        font-weight: bold;
        display: block;
        text-align: right;
    }
    .big-number{
        margin-top: -10px;
        font-size:3.5em;
    }
    .med-number{
        font-size:2.5em;
    }

    .number-label{
        display: block;
        text-align: right;
        margin-top: -10px;
        font-weight: bold;
        color:$gray-text;
    }

    .largest-holdings{
        color:$gray-text;
        font-weight:bold;
    }

    dt{
        color:$gray-text;
    }

    .big-summary{
        .big-number{
            font-size:5em;
            margin-top:30px;
        }
        .minor {
            .number, .number-label{
                text-align: left;
            }
        }
        margin-bottom:30px;
    }

    .hide-graph-labels{
        text-align: center;
    }


    .indent{
        margin-left: 30px;
    }
    .class-summary{
        margin-top: 10px;
    }
    .pie-chart-limit{
        max-width:200px;
        margin: 0 auto;
    }


    .widget-body{
        &.expandable{
            max-height: 265px;
            &.expanded{
                max-height: none;
            }
        }
    }

}

.outline.shareholding{
    position:relative;
    .info{
        margin-right: 65px;
    }
    .pie-chart{
        position:absolute;
        right: 16px;
        top: 16px;
        width:auto;
    }
}