// https://bootswatch.com/flatly/


// Core variables and mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
//@import "variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$input-border-width: 2px;
$brand-primary: #2C3E50;
$border-light: #ccc;
$breadcrumb-bg: transparent;
$well-bg: #fff;
$well-border: $border-light;
$popover-max-width: 500px;
$background-gray: #f2f2f2;


@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/code";
// Using custom grid
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/labels";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/badges";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/popovers";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";



@import "~font-awesome/scss/variables";
$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/mixins";
@import "~font-awesome/scss/path";
@import "~font-awesome/scss/core";
@import "~font-awesome/scss/icons";


@import "~catalex_shared/sass/catalex-vars";
@import "~catalex_shared/sass/catalex-legislation";

$navbar-height: 50px;
$header-image:url("~catalex_shared/images/hero-bg.jpg");
$text-color: #333;


@import "grid";

@import "reactWidgets";
@import "autoSuggest";


@import "transitions";
@import "loading";
@import "graphs";
@import "widget";
@import "companyList";
@import "home";
@import "shareholdings";
@import "shareRegister";
@import "directorsRegister";
@import "notifications";
@import "resolve";
@import "documents";

@import "header";
@import "footer";
@import "misc";
@import "forms";
@import "popover";
@import "lawBrowser";
@import "calendar";
@import "tooltip";
@import "transactions";
@import "newTransaction";
@import "alerts";
@import "links";
@import "annualReturn";
@import "changeLog";




html{
    min-height: 100%;
    position:relative;
}

html,body{
    background-color: $background-gray;
}

body{
    margin:0;
    font-family: -apple-system, "Helvetica Neue", "Roboto", "Segoe UI", "Lucida Grande", sans-serif;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;

    & > .error{
        text-align:center;
        margin-top: 20px;
    }
}


#main{
    min-height:100%;
    &>div{


    }
}


.company{
    @import "companyPage";
}

.container-fluid{
    padding-left:0;
    padding-right:0;
}


.app-container{
    position: relative;
}



.actionable, .table-hover td{
    cursor: pointer;
}

.table tbody tr td{
    vertical-align: middle;
}

a, a:hover{
    text-decoration: none;
    color: $text-color;
}

.breadcrumb{
    padding: 0 4px;
    margin-bottom:0;
    li a{
        padding:0;
        padding-right: 8px;

        &.active{
            color: $text-color;
        }
    }
}

