.transaction-summary{
    @extend .resolve;

    .basic{
        @extend .summary;
    }
    .transaction-row{
        @extend .row;
    }
    .transaction-label{
        @extend .col-md-6;
        font-weight:bold;
         @media (min-width:$screen-md-min){
            text-align: right;
        }
    }
    .transaction-value{
         @extend .col-md-6;
    }
}

.transaction-terse-date{
    font-weight:bold;
     padding-right:16px
}
.transaction-terse-description{
    font-style:italic;
}
.transaction-terse{
    display:block;
}
.transaction-terse + .transaction-terse{
    margin-top:4px;
}

@media (min-width: $screen-md-min) {
    .transaction-table{
        display: table;
        table-layout: fixed;
        width:100%;
        & > div {
            display: table-cell;
            vertical-align: middle;
            float: none;

        }
    }
}
