$widget-border: #ccc;
$widget-verticle-padding:8px;
.widget{
    background-color:white;
    padding:8px 15px;
    border: 1px solid $widget-border;
    border-radius: 3px;
    margin-bottom: 20px;
    .widget-header{
        border-bottom: 1px solid $widget-border;
        float:left;
        width:100%;
        .widget-title{
            color:$deep-red;
            font-size:1.1em;
            font-weight:bold;
            float:left;
            margin-bottom:6px;
        }
        .widget-control{
            float: right;
            cursor: pointer;
            border-left: 1px solid $widget-border;
            padding-left:12px;
            font-style: italic;
            a{
                 color:$gray-light;
            }

        }
    }
    .widget-body{
        clear:both;
        padding:$widget-verticle-padding 0;
        position: relative;
        h5{
            color:$deep-red;
        }
        ul{
            margin:0;
            padding:0;
            li, li > div{
                list-style-type:none;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  .date, .wextra{
                    color:$gray-light;
                    font-style: italic;
                    font-size: 0.9em;
                  }
            }
            li:hover{
                color:$deep-red;
            }

            &.bulleted {
                li{
                    list-style-type: disc;
                    overflow: visible;
                    padding: 4px;
                }

            }
        }

        &.expandable{
            max-height: 135px;
            overflow: hidden;
            cursor: pointer;
            &:after{
                content: "...";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                background: linear-gradient(to bottom, rgba(255,255,255,0) 2%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
            }
        }


        &.expanded{
            height: auto;
            max-height: none;
            &:after{
                display:none;
            }
        }

        .link-sea{
            .link-break{
                margin: 0 10px;
            }
             a{

                white-space: pre-wrap;
                display: inline-block;
                .glyphicon{
                    display:none;
                }
            }
            a + a:before{
                margin: 0 10px;
                content: '•';
                color: $text-color;

            }
        }


        .outline {

            background-color:white;
            padding:$widget-verticle-padding 15px;
            border: 1px solid $widget-border;
            border-radius: 3px;
            margin-bottom: 20px;
             .outline-header{
                border-bottom: 1px solid $widget-border;
                width:100%;
                margin-top:-10px;
                margin-bottom: 6px;
                text-align: center;
                .outline-title{
                    font-weight:bold;
                    margin-bottom:2px;
                }
            }
            float: left;
            border-radius: 4px;
            padding: 12px;
            margin-bottom: 20px;
            width: 100%;
            &.no-border{
                border: none;
            }
            dl{
                margin-bottom:0;
            }
        }
    }




}
